h3{
    color:blue
}

.TextoResaltado{
    color: rgb(255, 47, 47);
    font-weight: 700;
}

.TextoImportante{
    color: rgb(175, 6, 0);
    font-weight: 700;
}

a{
    color: blue;
    text-decoration: none;
}

a:hover{
    color: rgb(0, 255, 242);
}

#textoEnMedio{
    text-align: center;
}

.textoIzq{
    display: inline-block;
    width: 30%;
    background-color: rgb(230, 159, 133);
}

.textoDcha{
    display: inline-block;
    width: 20%;
    background-color: rgb(0, 65, 32);
}

#textoCentrado{
    width: 80%;
    margin: 0 auto;
    padding: 10px;
    background-color: rgb(247, 171, 143);
}

nav ul{
    padding-left: 0px;
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color:hwb(98 12% 18%);
}

nav.horizontal{
    text-align: center;
}

nav.horizontal ul li{
    display: inline-block;
    text-align: center;
}

.Firma{
    width: 200px;
    height: 100px;
}

.TituloTablas{
    color: black;
}

table{
    width: 70%;
    margin: 0 auto;
    border-collapse: collapse;
    background-color: #ffffff;
}

table, td, th{
    border: 2px solid #ffffff;
    text-align: center;
}

th{
    background-color: rgb(0, 0, 97);
    color: white;
}
td{
    background-color: rgb(186, 253, 231);
    color: #000000;
}
iframe{
    width: 600;
    height: 500;
    border: none;
    margin: 0 auto;
    width: 80%;
    display: block;
}

textarea{
    resize: none;
    width: 400px;
    height: 120 px;
}

label{
    width: 130px;
    display: inline-block;
    margin-bottom: 3px;
}

.check{
    width: 48px;
    display: inline-block;
}